<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial;
        }

        h2 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>

    <h2>INVOICE</h2>

    <p><strong>Order ID:</strong> {{ order.order_id }}</p>
    <p><strong>Date:</strong> {{ order.created_at }}</p>
    <p><strong>Address:</strong> {{ order.address }}</p>
    <p><strong>Payment:</strong> {{ order.payment_method }}</p>

    <table>
        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
        </tr>

        {% for item in order.items.all %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.total }}</td>
        </tr>
        {% endfor %}

        <tr>
            <td colspan="3"><strong>Grand Total</strong></td>
            <td><strong>{{ order.total_price }}</strong></td>
        </tr>
    </table>

</body>

</html>